import /vendor/etc/init/hw/init.${ro.hardware}.usb.rc

on init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

    mkdir /dev/block/platform/c0000000.soc/c0062000.dwmmc/by-name 0770 system system
    wait /dev/block/mmcblk0p8
    symlink /dev/block/mmcblk0p8 /dev/block/platform/c0000000.soc/c0062000.dwmmc/by-name/misc

    wait /dev/block/mmcblk0p1
    symlink /dev/block/mmcblk0p1 /dev/block/platform/c0000000.soc/c0062000.dwmmc/by-name/boot_a

    wait /dev/block/mmcblk0p2
    symlink /dev/block/mmcblk0p2 /dev/block/platform/c0000000.soc/c0062000.dwmmc/by-name/boot_b

    wait /dev/block/mmcblk0p3
    symlink /dev/block/mmcblk0p3 /dev/block/platform/c0000000.soc/c0062000.dwmmc/by-name/system_a

    wait /dev/block/mmcblk0p5
    symlink /dev/block/mmcblk0p5 /dev/block/platform/c0000000.soc/c0062000.dwmmc/by-name/system_b

    wait /dev/block/mmcblk0p6
    symlink /dev/block/mmcblk0p6 /dev/block/platform/c0000000.soc/c0062000.dwmmc/by-name/vendor_a

    wait /dev/block/mmcblk0p7
    symlink /dev/block/mmcblk0p7 /dev/block/platform/c0000000.soc/c0062000.dwmmc/by-name/vendor_b

on fs
    # Start HW service manager early
    start hwservicemanager
    mount_all /vendor/etc/fstab.${ro.hardware}
    swapon_all /vendor/etc/fstab.${ro.hardware}

on boot
    class_start main
    class_start late_start
