import /vendor/etc/init/hw/init.${ro.hardware}.usb.rc

on init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on fs
    # Start HW service manager early
    start hwservicemanager
    mount_all /vendor/etc/fstab.${ro.hardware}
    swapon_all /vendor/etc/fstab.${ro.hardware}

on boot
    class_start main
    class_start late_start

    # for omx videobufcopy (0:Disable, 1:Enable)
    setprop videobufcopy.mode 0

on boot && property:ro.vendor.ota_update_verifier=true
    exec_start update_verifier_nonencrypted
