allow keystore system_data_file:dir { add_name create open read write };
allow keystore system_data_file:file { open };
dontaudit keystore system_data_file:file { create write };
