allow zygote system_data_file:dir { add_name remove_name setattr write };
allow zygote system_data_file:lnk_file { getattr read unlink };
dontaudit zygote system_data_file:file { create unlink write };
